<div class="bothPanels">
  <div class="leftPanel">

    <!--<button (click)="dishType = 'PIZZA'" ng-init="count=PIZZA">PIZZA</button>-->
    <!--<button (click)="dishType = 'SPAGETTI'" ng-init="count=PIZZA">SPAGETTI</button>-->
    <!--<button (click)="dishType = 'DRINK'" ng-init="count=PIZZA">DRINK</button>-->

    <!--<button (click)="addNewSpagetti()">addDish!!!!!</button>-->
    <app-your-order-panel></app-your-order-panel>
  </div>

  <div class="rightPanel">
    <div class="containerMenu">
      <a class="boxes" (click)="dishType = 'PIZZA'">
        <div class="module"> Pizza</div>
      </a>
      <a class="boxes" (click)="dishType = 'SPAGETTI'">
        <div class="module">Spagetti</div>
      </a>
      <a class="boxes" (click)="dishType = 'DRINK'">
        <div class="module">Napoje</div>
      </a>
    </div>
    <div class="container">
      <app-menu-drinks *ngIf="dishType === 'DRINK'"></app-menu-drinks>
      <app-menu-pizza *ngIf="dishType === 'PIZZA'"></app-menu-pizza>
      <app-menu-spagetti *ngIf="dishType === 'SPAGETTI'"></app-menu-spagetti>
    </div>
  </div>
</div>

