<div id="border">
  <table>
    <tr>
      <th>Id</th>
      <th>Adres</th>
      <th>Status</th>
      <th>Id dań</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order?.id}}</td>
      <td>{{order?.address}}</td>
      <td *ngIf="order?.status; else notDone">zrealizowane</td>
      <td><span *ngFor="let item of order.dishes">{{item.id}}  </span></td>

      <button (click)="changeToDoneStatus(order)">zrobione</button>
      <button [routerLink]="['/admin/orders', order.id]">detale zamówienia</button>
      <button (click)="deleteOrder(order.id)">usuń</button>
    </tr>
  </table>
</div>
<ng-template #notDone>do realizacji</ng-template>
