
<h2>Id zamówienia: {{order?.id}}</h2>
<h3>Imię: {{order?.firstName}}</h3>
<h3>Nazwisko: {{order?.lastName}}</h3>
<h3>Status: {{order?.status}}</h3>
<h3>Adres: {{order?.address}}</h3>
<h3>Opis: {{order?.subject}}</h3>
<h2>Zamówione dania:</h2>
<h3>
  <table>
    <tr>
      <td>Lp.</td>
      <td>id dania</td>
      <td>cena dania</td>
      <td>nazwa dania</td>
      <td>typ dania</td>
      <td>opis</td>
    </tr>
    <tr *ngFor="let one of order?.dishes; let i = index">
      <td>{{i+1}}</td>
      <td>{{one?.id}}</td>
      <td>{{one?.price}}</td>
      <td>{{one?.name}}</td>
      <td>{{one?.type}}</td>
      <td>{{one?.description}}</td>
    </tr>
  </table>
</h3>
<button (click)="goBack()">Powrót</button>

