<table class="menuDishes">
  <tr>
    <th id="idWidth">Id</th>
    <th id="idName">Name</th>
    <th id="idDescription">Description</th>
    <th id="idPrice">Price</th>
  </tr>
  <tr *ngFor="let drink of filteredDrinks">
    <td id="id">{{drink?.id}}</td>
    <td id="name">{{drink?.name}}</td>
    <td id="description">{{drink?.description}}</td>
    <td id="price">{{drink?.price}}</td>
    <a (click)="addToBasket(drink)"><img class="menu" src="/assets/add.png" ></a>
    <a [routerLink]="['/drinks', drink?.id]"><img class="menu" src="/assets/details.png" ></a>


  </tr>
</table>
