#id{
  width: 5px;
}
#name{
  width: 150px;
}
#description{
  width: 300px;
}
#price{
  width: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 4px;
}
