#title {
  text-align: center;
}


.bothPanels {
  display: flex;
  justify-content: space-around;
  overflow: auto;
}

.leftPanel {
  background: #c25fff;
  height: 340px;
  width: 35%;
  display: inline-block;
  justify-items: center;
  border-radius: 10px;
}

.rightPanel {
  background: #fffd96;
  width: 65%;
  height: auto;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
}
