<table class="menuDishes">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <tr *ngFor="let spageti of filteredSpagetti">
    <td>{{spageti?.id}}</td>
    <td id="name">{{spageti?.name}}</td>
    <td id="description">{{spageti?.description}}</td>
    <td id="price">{{spageti?.price}}</td>
    <a (click)="addToBasket(spageti)"><img class="menu" src="/assets/add.png" ></a>
    <a [routerLink]="['/spagetti', spageti?.id]"><img class="menu" src="/assets/details.png" ></a>
  </tr>

</table>
