
<table class="menuDishes">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <tr *ngFor="let pizza of filteredPizzas">
    <td id="id">{{pizza?.id}}</td>
    <td id="name">{{pizza?.name}}</td>
    <td id="description">{{pizza?.description}}</td>
    <td id="price">{{pizza?.price}}</td>
    <a (click)="addToBasket(pizza)"><img class="menu" src="/assets/add.png" ></a>
    <a [routerLink]="['/pizzas', pizza?.id]"><img class="menu" src="/assets/details.png" ></a>

  </tr>
</table>
